.base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.emptyCell {
  width: var(--gridSize);
  height: var(--gridSize);
  box-sizing: border-box;
  border: 1px solid rgba(128, 128, 128, 0.5);
}
